/.idea/
/MODJAM2024
/election-popup/.idea/codeStyles/codeStyleConfig.xml
/election-popup/.idea/.gitignore
/election-popup/.idea/election-popup.iml
/election-popup/.idea/misc.xml
/election-popup/.idea/modules.xml
